<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
			<!--使用jdbc事务管理 -->
			<transactionManager type="JDBC"/>
			<!-- 数据库连接池 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<!-- jdbc后面的***中填入的是对应的数据库名称 -->
				<property name="url" value="jdbc:mysql://localhost:3306/mybatis?characterEncoding=utf-8"/>
				<!-- username后面的***中填入的是数据库连接的用户名，password后面的***中填入的是数据库连接的密码 -->
				<property name="username" value="tia"/>
				<property name="password" value="980703"/>
			</dataSource>
		</environment>
	</environments>
	<!-- 引入映射配置文件 -->
	<mappers>
	<!--创建SQL映射文件UserMapper.xml-->
	  <!-- <mapper resource="com/thxy/dao/user/UserMapper.xml"></mapper>-->
	  <!--创建SQL映射文件UserMapper.java-->
	  <!--  <mapper class="com.thxy.dao.user.UserMapper"/>-->
		
		<!--批量加载mapper： mapper 接口的包名，mybatis自动扫描包下的mapper接口进行加载--> 
		<package  name= "com.thxy.dao.user" />
	</mappers>
</configuration>